body {
    font-family: inherit;
}

.blocos {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px 40px 20px 40px;
    border: solid 1px rgb(206, 206, 206);
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F9BC4A;
    width: 600px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px 40px 20px 40px;
    border: solid 1px rgb(206, 206, 206);
}

.foto {
    margin: 5px;
    width: 150px;
    box-shadow: 10px 5px 25px -6px rgba(0,0,0,0.66);
}

.logo {
    width: 300px;
    margin-right: 20px;
}
.bloco {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

h2 {
    max-width: 250px;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.informacoes {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

a {
    text-decoration: none;
    max-width: 200px;
}

a:hover {
    color: #F9BC4A;
}

a:visited {
    color: blue;
}

img {
    border-radius: 4px;
}