.descricao-pessoa {
    padding: 0 0 10% 8%;
    opacity: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    transition: opacity 2s ease-out;
    max-width: 80%;
    text-align: left;
}

.subtitulo {
    text-align: center;
    background-color: black;
    color: white;
    width: 400px;
    font-size: 14px;
}

.pessoa-format {
    position: relative;
    width: 20%;
}

.pessoa-format:hover .nome-pessoa {
    opacity: 1;
}

.pessoa-format:hover .descricao-pessoa {
    opacity: 1;
}

.nome-pessoa {
    padding: 0 0 10% 8%;
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    transition: opacity 2s;
    color: white;
}


.foto-pessoa {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personagens {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
}

.elementos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 98.3%;
    transition: background-color 1s;
    z-index: 1;
}

.phoebe:hover {
    background-color: #f9bc4a7c;
}

.ross:hover {
    background-color: #7f7ea3a6;
}

.rachel:hover {
    background-color:#d6b583a1;
}

.chandler:hover {
    background-color: #6e7855a1;
}

.monica:hover {
    background-color: #ba2b21b2;
}

.joey:hover {
    background-color: #986a41a9;
}
