#playlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#playlist ul {
    width: 550px;
    text-align: center;
    text-decoration: none;  
}

 #playlist li {
     margin: 10px;
     background-color: #F9BC4A;
     border-radius: 40px;
     max-height: 344px;
     text-decoration: none;
 }
 
 li {
    list-style-type: none;
  }
